# Configuration Base de données MySQL
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=bawi_studio
MYSQL_PORT=3306

# Configuration JWT (Générer une clé sécurisée avec: openssl rand -hex 32)
JWT_SECRET_KEY=votre_clé_secrète_ici_min_32_caractères

# Configuration Admin par défaut
ADMIN_USERNAME=euloge
ADMIN_PASSWORD=20-86
