# Configuration Supabase
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_KEY=your-anon-key

# Configuration JWT
JWT_SECRET=your-jwt-secret-key

# Configuration Admin - Hash du mot de passe
ADMIN_PASSWORD_HASH=$2a$10$xLP94zxSUUnl.GG/iCxgEe0saLsWm..6.ioiRvlVCgeK9vYLSn6YG

# Port du serveur
PORT=5000
